@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body
    {
    
    }

@tailwind base;
@tailwind components;
@tailwind utilities;